<p *ngIf="loading"><em>Loading...</em></p>




<div class="input-group mb-9">
    <input id="salary" [(ngModel)]="salary" type="number" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"(click)="calculate()">Calculate</button>
    </div>
</div>
<div class="input-group mb-12" *ngIf="error">
    <small class="text-danger">
        {{error}}
    </small>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="taxResults">
    <thead>
        <tr>
            <th>Result Type</th>
            <th>Result</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gross Annual Salary</td>
            <td>{{ taxResults.grossAnnualSalary | number : '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Gross Monthly Salary</td>
            <td>{{ taxResults.grossMonthlySalary | number : '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Net Anual Salary</td>
            <td>{{ taxResults.netAnnualSalary | number : '1.2-2'}}</td>
        </tr>
        <tr>
            <td>Net Monthly Salary</td>
            <td>{{ taxResults.netMonthlySalary | number : '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Annual Tax Paid</td>
            <td>{{ taxResults.annualTaxPaid | number : '1.2-2' }}</td>
        </tr>
        <tr>
            <td>Monthly Tax Paid</td>
            <td>{{ taxResults.monthlyTaxPaid | number : '1.2-2' }}</td>
        </tr>
    </tbody>
</table>
